@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasSecondaryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bmi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FullName)
            </td>
            <td>
                @Model.BirthDate.ToLongDateString()
            </td>
            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
            <td>
                @if (Model.HasSecondaryAddress)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Bmi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    </tbody>
</table>
